
/* ::::: null ::::: */

.note-header-text { font-family: Times,Times New Roman,serif; color: rgb(255, 0, 0); font-size: 0.95em; margin-left: 0.75em; margin-right: 0.75em; }

/* ::::: http://portal.acm.org/css/dl.css ::::: */

body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
input { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
td { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
th { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-weight: bold; }
dl { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
dt { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
dd { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
ul { list-style-type: square; list-style-position: outside; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
sup { font-size: 75%; }
p { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; }
h1 {  }
h2 {  }
h3 {  }
a {  }
span.heading { font-weight: bold; }
span.bigheading { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 140%; }
span.largeheading { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 160%; }
span.pubname { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 120%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
span.libname { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
span.procname { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
span.volissue { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
div.volissue { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
td.volume { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; }
td.pubdescr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
input.pubdescr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
select.collect { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 75%; font-weight: bold; margin-left: 0px; }
td.collect { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; margin-left: 0px; }
td.smnumbs { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 75%; font-weight: normal; margin-left: 0px; }
td.mednumbs { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; }
div.results { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; }
td.searchbox { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; }
td.pubname { font-weight: bold; }
td.jrnl { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
td.bigheading { font-family: Verdana,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 140%; }
div.abstract { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
div.abstract2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 20px; }
p.abstract { margin-left: 10px; }
div.issuearticle { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; color: black; background-color: transparent; }
div.resultsdet { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-weight: bold; }
div.review { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
p.review { margin-left: 15px; }
div.indterms { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
div.confdates { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: bold; color: rgb(0, 51, 102); background-color: transparent; }
p.indterms { margin-left: 10px; }
p.categories { margin-left: 10px; }
p.subjdesc { margin-left: 20px; }
p.keywords { margin-left: 10px; }
p.genterms { margin-left: 10px; }
td.error { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: bold; color: red; margin-left: 0px; }
td.warn { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; color: red; margin-left: 0px; }
td.lgtext { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; margin-left: 0px; }
div.pubdescr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
ul.pubdescr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
div.jrnl { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
p.jrnl { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.bigheading { font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 140%; }
div.copyright { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
cite.publisher { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
div.note { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; text-align: left; }
div.download { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
div.arttitle { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 110%; font-weight: bold; }
div.subtitle { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; }
div.artpages { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.authors { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
form.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
td.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
select.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
input.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
ul.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
textarea.adv { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
td.authbr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.authbr { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; }
div.authbr2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
td.authbr2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 100%; font-weight: normal; }
div.sponsors { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.publishers { font-family: Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
.rfcs { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.addinfo { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.images { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; }
div.reviews { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
div.indterms { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
div.inclusion { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; font-weight: normal; margin-left: 0px; }
div.totop { text-align: left; float: left; }
div.acrobati { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 80%; }
td.nav { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; }
td.nav2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; padding-left: 25px; }
div.bump { padding-left: 10px; }
div.add1 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; padding-left: 10px; }
div.add2 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; padding-left: 20px; }
div.add3 { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; font-weight: normal; padding-left: 30px; }
a.nav { font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 90%; }
div.content { margin-left: 49px; }
td.navbar { white-space: nowrap; }
a:link { color: rgb(0, 102, 153); background-color: transparent; }
a:visited { color: rgb(51, 153, 204); background-color: transparent; }
a:active { color: rgb(0, 102, 153); background-color: transparent; }
a:hover { color: rgb(0, 102, 153); background-color: transparent; }

/* ::::: null ::::: */

body { margin-left: 0em; margin-top: 0pt; }
a:link { text-decoration: underline; color: rgb(0, 102, 153); }
a:visited { color: rgb(153, 0, 51); text-decoration: underline; }
a:hover { color: red; text-decoration: none; }
a.dLink1:link { color: rgb(51, 102, 153); }
a.dLink1:visited { color: rgb(102, 102, 102); }
a.isblack:link { text-decoration: underline; color: rgb(0, 0, 0); }
a.isblack:visited { color: rgb(0, 0, 0); text-decoration: underline; }
a.isblack:hover { color: rgb(0, 0, 0); text-decoration: none; }
h1 { font-size: 140%; margin-bottom: 0pt; }
ul { margin-top: 0.25em; list-style-type: disc; }
ol { margin-top: 0.25em; }
li { padding-bottom: 0.25em; }
h2 { color: white; background-color: rgb(0, 102, 153); font-size: 100%; padding-left: 1em; margin: 0pt; }
h3 { color: black; background-color: yellow; font-size: 100%; margin: 0pt; }
h4 { color: black; background-color: rgb(153, 197, 232); font-size: 100%; margin: 0pt; }
hr { color: rgb(57, 23, 109); }
form { margin-top: 10px; }
form.xrs { margin-top: 0pt; }
a { text-decoration: none; }
input { font-size: 1em; }
.chevron { color: rgb(255, 0, 0); }
.light-blue { color: rgb(51, 102, 153); }
.black { color: rgb(0, 0, 0); }
.footer-link-text { font-family: Arial,Helvetica,sans-serif; color: rgb(51, 102, 153); font-size: 0.75em; line-height: 1.33em; margin-left: 2em; margin-right: 0.75em; }
.footer-copy-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.75em; line-height: 1.3em; margin-left: 0.75em; margin-right: 0.75em; }
.small-link-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.83em; padding-bottom: 2px; padding-top: 2px; }
.smallerer-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.65em; }
.smaller-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.75em; }
.small-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.83em; }
.small-textb { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.83em; font-weight: bold; }
.medium-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 1em; }
.mediumb-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 1em; font-weight: bold; }
.large-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 1.3em; }
.instr-text { font-family: Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); font-size: 0.83em; }
.list-link-text { font-family: Arial,Helvetica,sans-serif; color: rgb(51, 102, 153); font-size: 0.83em; line-height: 1.3em; }
.list-link-btext { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); font-size: 0.83em; line-height: 1.3em; }
.searchbox-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 102); font-size: 1em; font-weight: bold; }
.footer-header-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 102); font-size: 1em; font-weight: bold; margin-left: 0.75em; margin-right: 0.75em; }
.medium-link-text { font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 102); font-size: 1em; font-weight: bold; line-height: 1em; text-indent: -1.25em; margin-left: 2em; margin-right: 0.75em; }
.small-copy-text { font-family: Times,Times New Roman,serif; color: rgb(0, 0, 102); font-size: 0.75em; line-height: 1.2em; margin-left: 0.75em; margin-right: 0.75em; }
.medium-copy-text { font-family: Times,Times New Roman,serif; color: rgb(0, 0, 102); font-size: 1em; line-height: 1.2em; margin-left: 0.75em; margin-right: 0.75em; }
.large-copy-text { font-family: Times,Times New Roman,serif; color: rgb(0, 0, 102); font-size: 1.3em; line-height: 1.5em; margin-left: 0.75em; margin-right: 0.75em; }
.medium-header-text { font-family: Times,Times New Roman,serif; color: rgb(255, 0, 0); font-size: 1em; margin-left: 0.75em; margin-right: 0.75em; }
.large-header-text { font-family: Times,Times New Roman,serif; color: rgb(255, 0, 0); font-size: 1.5em; margin-left: 0.75em; margin-right: 0.75em; }
#side { width: 10px; float: left; margin-left: -1px; padding: 2px; }
#content { padding: 2px; margin-left: 25px; }
